---
import Tecnologias from '../components/Tecnologias.astro'
import HTML from '../components/Iconos/ic_HTML.astro'
import CSS from '../components/Iconos/ic_CSS.astro'
import React from '../components/Iconos/ic_React.astro'
import IconoAstro from '../components/Iconos/ic_Astro.astro'
import JS from '../components/Iconos/ic_JS.astro'
import PHP from '../components/Iconos/ic_PHP.astro'
import Layout from '../layouts/Layout.astro'
import { getCollection, render } from 'astro:content'
import type { GetStaticPaths } from 'astro'
import '../assets/Proyecto.css'
import IconoGitHub from '../components/Iconos/IconoGitHub.astro'
import type { Componentes } from '../types'

export const getStaticPaths = (async () => {
	const trabajos = await getCollection('proyectos')
	return trabajos.map((trabajo) => {
		return {
			params: { id: trabajo.slug },
			props: { trabajo },
		}
	})
}) satisfies GetStaticPaths

const { trabajo } = Astro.props
const { data, slug } = trabajo
const { title, images, tecnologias, color, repositorio } = data
const { image } = images
const { Content } = await render(trabajo)

const componentes = {
	HTML: HTML,
	REACT: React,
	CSS: CSS,
	ASTRO: IconoAstro,
	JS: JS,
	PHP: PHP,
} as Componentes
---

<Layout title={title} descripcion={`Pagina de mi proyecto ${title}`}>
	<section>
		<header class="contenedor-imagen-proyecto" style={`background: radial-gradient(circle at top, ${color} 0%, rgba(0, 0, 0, 0) 47%);`}>
			<img transition:name={`image-${slug}}`} transition:animate="fade" src={`/Proyectos/${image}`} alt={`Imagen del proyecto ${title}`} />
		</header>

		<main class="contenido-proyecto" data-color={color}>
			<header class="contenido-header">
				<h2>{title}</h2>
				<IconoGitHub enlace={repositorio} titulo={title} descripcion="Visitar el repo del proyecto" color={color} />
			</header>

			<ul class="lista-tecnologias">
				{
					Object.keys(tecnologias).map((tecnologia) => {
						const Componente = componentes[tecnologia]
						return (
							<Tecnologias tecnologia={tecnologia}>
								<Componente />
							</Tecnologias>
						)
					})
				}
			</ul>

			<Content style="color: var(--blanco)" />
		</main>
	</section>
</Layout>

<style>
	.lista-tecnologias {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
	}

	section {
		min-height: 100dvh;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
	}

	.contenedor-imagen-proyecto {
		width: 100%;
		display: flex;
		justify-content: center;
		padding-bottom: 5rem;
	}

	img {
		width: clamp(30rem, 55vw, 60rem);
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.3rem;
		margin-bottom: 5rem;
	}

	.contenido-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		width: 100%;
		margin-bottom: 2rem;
	}

	main h2 {
		font-size: clamp(2rem, 5vw, 3rem);
		padding: 1rem 2rem;
		border-radius: 1rem;
	}

	.contenido-proyecto[data-color='yellow'] h2 {
		color: black;
		background-color: yellow;
	}
	.contenido-proyecto[data-color='red'] h2 {
		color: white;
		background-color: red;
	}
	.contenido-proyecto[data-color='#567fff'] h2 {
		color: white;
		background-color: #567fff;
	}
	.contenido-proyecto[data-color='#56051f'] h2 {
		color: white;
		background-color: #56051f;
	}
</style>
