---
import Layout from '../layouts/Layout.astro'
import { getCollection, render } from 'astro:content'
import type { GetStaticPaths } from 'astro'
import '../assets/Proyecto.css'
import IconoGitHub from '../components/Iconos/IconoGitHub.astro'

export const getStaticPaths = (async () => {
	const trabajos = await getCollection('proyectos')
	return trabajos.map((trabajo) => {
		return {
			params: { id: trabajo.slug },
			props: { trabajo },
		}
	})
}) satisfies GetStaticPaths

const { trabajo } = Astro.props
const { data, slug } = trabajo
const { title, images, tecnologias, color, repositorio } = data
const { image } = images
const { Content } = await render(trabajo)
---

<Layout title={title} descripcion={`Pagina de mi proyecto ${title}`}>
	<section>
		<header class="contenedor-imagen-proyecto" style={`background: radial-gradient(circle at top, ${color} 0%, rgba(0, 0, 0, 0) 52%);`}>
			<img transition:name={`image-${slug}}`} transition:animate="fade" src={`/Proyectos/${image}`} alt={`Imagen del proyecto ${title}`} />
		</header>

		<main>
			<header class="contenido-header">
				<h2>{title}</h2>
				<IconoGitHub enlace={repositorio} titulo={title} descripcion="Visitar el repo del proyecto" />
			</header>
			<Content style="color: var(--blanco)" />
		</main>
	</section>
</Layout>

<style>
	section {
		min-height: 100dvh;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
	}

	.contenedor-imagen-proyecto {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 4rem 0;
	}

	img {
		width: clamp(30rem, 55vw, 60rem);
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.3rem;
		margin-bottom: 5rem;
	}

	.contenido-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		width: 100%;
		margin-bottom: 2rem;
	}

	main h2 {
		font-size: clamp(2rem, 5vw, 3rem);
		color: var(--cyan);
	}
</style>
