---
import HTML from '../components/Iconos/ic_HTML.astro'
import CSS from '../components/Iconos/ic_CSS.astro'
import React from '../components/Iconos/ic_React.astro'
import IconoAstro from '../components/Iconos/ic_Astro.astro'
import JS from '../components/Iconos/ic_JS.astro'
import PHP from '../components/Iconos/ic_PHP.astro'
import Layout from '../layouts/Layout.astro'
import { getCollection, render } from 'astro:content'
import type { GetStaticPaths } from 'astro'
import '../assets/Proyecto.css'
import IconoGitHub from '../components/Iconos/IconoGitHub.astro'
import type { Componentes } from '../types'

export const getStaticPaths = (async () => {
	const trabajos = await getCollection('proyectos')
	return trabajos.map((trabajo) => {
		return {
			params: { id: trabajo.slug },
			props: { trabajo },
		}
	})
}) satisfies GetStaticPaths

const { trabajo } = Astro.props
const { data, slug } = trabajo
const { title, images, tecnologias, color, repositorio } = data
const { image } = images
const { Content } = await render(trabajo)

const componentes = {
	HTML: HTML,
	REACT: React,
	CSS: CSS,
	ASTRO: IconoAstro,
	JS: JS,
	PHP: PHP,
} as Componentes
---

<Layout title={title} descripcion={`Pagina de mi proyecto ${title}`}>
	<section>
		<header class="contenedor-imagen-proyecto" style={`background: radial-gradient(circle at top, ${color} 0%, rgba(0, 0, 0, 0) 47%);`}>
			<img transition:name={`image-${slug}}`} transition:animate="fade" src={`/Proyectos/${image}`} alt={`Imagen del proyecto ${title}`} />
		</header>

		<main class="contenido-proyecto" data-color={color}>
			<header class="contenido-header">
				<h2>{title}</h2>
				<IconoGitHub enlace={repositorio} titulo={title} descripcion="Visitar el repo del proyecto" color={color} />
				<ul class="lista-tecnologias">
					{
						Object.keys(tecnologias).map((tecnologia) => {
							const Componente = componentes[tecnologia]
							return (
								<div class="article-tecnologia">
									<Componente />
								</div>
							)
						})
					}
				</ul>
			</header>

			<Content />
		</main>
	</section>
</Layout>

<style>
	section {
		min-height: 100dvh;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		width: 100%;
	}

	.contenedor-imagen-proyecto {
		width: 100%;
		display: flex;
		justify-content: center;
		padding-bottom: 5rem;
	}

	img {
		width: clamp(30rem, 55vw, 60rem);
	}

	.contenido-proyecto {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.3rem;
		margin-bottom: 5rem;
		width: min(75%, 100%);
	}

	.contenido-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		width: 100%;
		margin-bottom: 2rem;
	}

	.contenido-proyecto h2 {
		font-size: clamp(2rem, 5vw, 2.5rem);
		padding: 1rem 2rem;
		border-radius: 1rem;
	}

	.contenido-proyecto[data-color='yellow'] h2 {
		color: black;
		background-color: yellow;
	}
	.contenido-proyecto[data-color='red'] h2 {
		color: white;
		background-color: red;
	}
	.contenido-proyecto[data-color='#567fff'] h2 {
		color: white;
		background-color: #567fff;
	}
	.contenido-proyecto[data-color='#56051f'] h2 {
		color: white;
		background-color: #56051f;
	}

	/*TECNOLOGIAS*/
	.lista-tecnologias {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1.5rem;
		width: fit-content;
	}

	.article-tecnologia {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		width: clamp(3rem, 4vw, 10rem);
		height: clamp(3rem, 4vw, 10rem);
		padding: 1rem 2rem;
		border-radius: 50%;
		transition: box-shadow 0.5s;
	}

	.contenido-proyecto[data-color='yellow'] .article-tecnologia {
		border: 0.3rem solid yellow;
	}
	.contenido-proyecto[data-color='red'] .article-tecnologia {
		border: 0.3rem solid red;
	}
	.contenido-proyecto[data-color='#567fff'] .article-tecnologia {
		border: 0.3rem solid #567fff;
	}
	.contenido-proyecto[data-color='#56051f'] .article-tecnologia {
		border: 0.3rem solid #56051f;
	}

	.contenido-proyecto[data-color='yellow'] .article-tecnologia:hover {
		box-shadow: 0 0 2rem yellow;
	}
	.contenido-proyecto[data-color='red'] .article-tecnologia:hover {
		box-shadow: 0 0 2rem red;
	}
	.contenido-proyecto[data-color='#567fff'] .article-tecnologia:hover {
		box-shadow: 0 0 2rem #567fff;
	}
	.contenido-proyecto[data-color='#56051f'] .article-tecnologia:hover {
		box-shadow: 0 0 2rem #56051f;
	}
</style>
