---
import Tecnologias from './Tecnologias.astro'
import HTML from './Iconos/ic_HTML.astro'
import CSS from './Iconos/ic_CSS.astro'
import React from './Iconos/ic_React.astro'
import IconoAstro from './Iconos/ic_Astro.astro'
import JS from './Iconos/ic_JS.astro'
import PHP from './Iconos/ic_PHP.astro'
import type { Proyecto, Images, Data, Componentes } from '../types'

const { data, slug } = Astro.props as Proyecto
const { title, images, tecnologias } = data as Data
const { image, thumbnail, imageTitle } = images as Images

const componentes = {
	HTML: HTML,
	REACT: React,
	CSS: CSS,
	ASTRO: IconoAstro,
	JS: JS,
	PHP: PHP,
} as Componentes
---

<a aria-label={`Más información sobre el proyecto ${title}`} title={`Más información sobre el proyecto ${title}`} role="link" href={slug} class="card_article" data-proyecto={title}>
	<div class="card-container">
		<figure class="tools">
			<span class="circle-card">
				<strong class="red box"></strong>
			</span>
			<span class="circle-card">
				<strong class="yellow box"></strong>
			</span>
			<span class="circle-card">
				<strong class="green box"></strong>
			</span>
		</figure>
		<article class="card-content">
			<header class="contenedor-imagen-proyecto">
				<div class="card">
					<div class="wrapper">
						<img transition:name={`image-${slug}}`} src={`/Proyectos/${image}`} class="cover-image" alt={title} loading="lazy" width="100%" height="auto" />
					</div>
					<img src={`/Proyectos/${imageTitle}`} class="title" alt={title} loading="lazy" width="100%" height="auto" />
					<img src={`/Proyectos/${thumbnail}`} class="character" alt={title} loading="lazy" width="100%" height="auto" />
				</div>
			</header>

			<main class="contenido-proyecto">
				<h3>{title}</h3>

				<div class="contenedor-tecnologias">
					<h4>Tecnologías:</h4>

					<ul class="lista-tecnologias">
						{
							Object.keys(tecnologias).map((tecnologia) => {
								const Componente = componentes[tecnologia]
								return (
									<Tecnologias tecnologia={tecnologia}>
										<Componente />
									</Tecnologias>
								)
							})
						}
					</ul>
				</div>
			</main>
		</article>
	</div>
</a>

<style>
	.card_article {
		width: 100%;
		min-height: clamp(20rem, 55vw, 55rem);
		background: linear-gradient(0deg, #000 50%, #1f1a1a);
		box-shadow: 0 0.4rem 0.3rem 0.1rem var(--cyan);
		border-radius: 1rem;
		transition: box-shadow 0.5s;
	}

	.card_article[data-proyecto='Tienda de hamburguesas']:hover {
		box-shadow: 0 0.4rem 1rem red;
	}

	.card_article[data-proyecto='Tienda de hamburguesas']:hover h3 {
		color: red;
	}
	.card_article[data-proyecto='Manejo de API Usuarios']:hover {
		box-shadow: 0 0.4rem 1rem yellow;
	}

	.card_article[data-proyecto='Manejo de API Usuarios']:hover h3 {
		color: yellow;
	}
	.card_article[data-proyecto='Sistema de Justificantes']:hover {
		box-shadow: 0 0.4rem 1rem white;
	}

	.card_article[data-proyecto='Sistema de Justificantes']:hover h3 {
		color: white;
	}

	.card_article[data-proyecto='Buscador de Peliculas']:hover {
		box-shadow: 0 0.4rem 1rem rgb(63, 106, 247);
	}

	.card_article[data-proyecto='Buscador de Peliculas']:hover h3 {
		color: rgb(63, 106, 247);
	}

	.tools {
		display: flex;
		align-items: center;
		padding: 1rem;
	}

	.circle-card {
		padding: 0.5rem 0.5rem;
	}

	.box {
		display: inline-block;
		align-items: center;
		width: 1.5rem;
		height: 1.5rem;
		padding: 0.8rem;
		border-radius: 50%;
	}

	.red {
		background-color: #ff605c;
	}

	.yellow {
		background-color: #ffbd44;
	}

	.green {
		background-color: #00ca4e;
	}

	.card-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		min-height: 90%;
	}

	/*CARD */

	.contenido-proyecto {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		padding: 2rem;
		flex: 1;
		width: 100%;
	}

	.contenido-proyecto h3 {
		font-size: clamp(1.5rem, 5vw, 2.7rem);
		color: var(--cyan);
		transition: color 0.5s;
		text-align: center;
		min-height: clamp(5rem, 10vw, 8rem);
		width: 100%;
	}

	.contenido-proyecto h4 {
		font-size: clamp(1rem, 4vw, 2rem);
		color: var(--blanco);
		width: 100%;
		margin: 1rem 0;
		text-align: center;
		padding: 3rem;
	}

	.contenido-proyecto p {
		font-size: clamp(1rem, 4vw, 1.7rem);
		color: var(--blanco);
	}

	.contenedor-tecnologias {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		flex: 1;
	}

	.lista-tecnologias {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		flex: 1;
	}

	.contenedor-imagen-proyecto {
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.card {
		display: flex;
		justify-content: center;
		align-items: center;
		perspective: 100rem;
	}

	.cover-image {
		width: 100%;
		height: 100%;
	}

	.wrapper {
		position: absolute;
		width: 100%;
		z-index: -1;
		background: var(--cyan);
		background: linear-gradient(180deg, var(--cyan), rgba(1, 2, 2, 1) 50%);
		overflow: hidden;
		transition:
			transform 0.5s,
			background 0.5s,
			border 0.5s;
	}

	.card_article .card:hover .wrapper {
		transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(2rem);
		box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
	}

	.card_article[data-proyecto='Tienda de hamburguesas']:hover .wrapper {
		background: linear-gradient(180deg, red, rgba(1, 2, 2, 1) 50%);
		border: 0.1rem solid red;
	}

	.card_article[data-proyecto='Manejo de API Usuarios']:hover .wrapper {
		background: linear-gradient(180deg, yellow, rgba(1, 2, 2, 1) 50%);
		border: 0.1rem solid yellow;
	}
	.card_article[data-proyecto='Sistema de Justificantes']:hover .wrapper {
		background: linear-gradient(180deg, white, rgba(1, 2, 2, 1) 50%);
		border: 0.1rem solid white;
	}

	.card_article[data-proyecto='Buscador de Peliculas']:hover .wrapper {
		background: linear-gradient(180deg, rgb(63, 106, 247), rgba(1, 2, 2, 1) 50%);
		border: 0.1rem solid rgb(63, 106, 247);
	}

	.card:hover .cover-image {
		opacity: 0.2;
	}

	.wrapper::before,
	.wrapper::after {
		content: '';
		opacity: 0;
		width: 100%;
		position: absolute;
		left: 0;
		transition:
			top 0.5s,
			height 0.5s,
			background-image 0.5s;
	}
	.wrapper::before {
		top: 0;
		height: 100%;
		background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
	}
	.wrapper::after {
		bottom: 0;
		opacity: 1;
		background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
	}

	.card:hover .wrapper::before,
	.wrapper::after {
		opacity: 1;
	}

	.card:hover .wrapper::after {
		height: auto;
	}

	.title {
		transform: translate3d(0%, 100px, 100px);
		width: 100%;
		scale: 1.6;
		visibility: hidden;
		transition:
			transform 0.5s ease-in-out,
			opacity 0.5s;
	}

	.card:hover .title {
		transform: translate3d(0%, 0rem, 10rem);
		visibility: visible;
	}

	.character {
		width: 70%;
		opacity: 0;
		transition:
			transform 0.5s,
			opacity 0.5s;
		position: absolute;
		z-index: -1;
	}

	.card:hover .character {
		opacity: 1;
		transform: translate3d(0%, -10rem, 10rem);
	}
</style>
