---
import SectionIconTecnologias from "./SectionIconTecnologias.astro";
import TitleSection from "./TitleSection.astro";
interface Proyecto {
    title: string;
    description: string;
    image: string;
    tecnologias: string[];
    link: string;
}
const PROYECTOS = [
    {
        title: "Geolocalización de una IP",
        description:
            "Este proyecto consiste en la creación de una aplicación web que permite obtener la geolocalización de una IP",
        image: "https://images.unsplash.com/photo-1501785888041-af3ef285b470",
        tecnologias: ["React", "CSS", "HTML", "Tailwind", "TypeScript"],
        link: "/proyectos/Geolocalizaciond-de-una-ip",
    },
    {
        title: "Aplicación del clima",
        description:
            "Este proyecto consiste en la creación de una aplicación web que permite obtener el clima  de una ciudad por dias",
        image: "https://images.unsplash.com/photo-1501785888041-af3ef285b470",
        tecnologias: ["React", "CSS", "HTML", "Tailwind", "TypeScript"],
        link: "/proyectos/Aplicacion-del-clima",
    },
    {
        title: "Blog de los status HTTP",
        description: "Este proyecto consiste en mostrar informacion sobre los status HTTP desde los 100 hasta 599",
        image: "https://images.unsplash.com/photo-1501785888041-af3ef285b470",
        tecnologias: ["Astro", "HTML", "CSS", "Tailwind", "TypeScript"],
        link: "/proyectos/http-codes-status",
    },
    {
        title: "Una API REST para proyectos",
        description:
            "Servicio backend encargado de registrar y exponer los endpoints de mis proyectos para su consumo desde distintas aplicaciones.",
        image: "https://images.unsplash.com/photo-1501785888041-af3ef285b470",
        tecnologias: ["Node", "Express", "TypeScript"],
        link: "/proyectos/http-codes-status",
    },
];
---

<TitleSection title="Mis proyectos" />
<div class="mt-40 mb-20 flex min-h-screen flex-col items-center justify-center gap-15" id="proyectos">
    <section class="flex flex-col flex-wrap items-center justify-between gap-5 gap-y-10 md:flex-row">
        {
            PROYECTOS.map(({ title, description, image, tecnologias, link }: Proyecto) => (
                <a href={link} class="float-card h-[530px] w-[380px]">
                    <div class="float-inner flex h-full w-full flex-col gap-3 rounded-[20px] border border-green-500 bg-linear-to-b from-black from-70% to-green-500 p-4 text-white">
                        <img
                            src={image}
                            alt="forest"
                            class="card-image mx-auto mt-6 h-[220px] w-full max-w-11/12 rounded-[14px] object-cover"
                        />

                        <h3 class="card-title mx-auto w-full max-w-11/12 text-start text-xl font-bold">{title}</h3>

                        <p class="card-desc mx-auto max-w-11/12 text-sm opacity-75">{description}</p>

                        <div class="card-footer mx-auto mt-auto mb-6 flex w-full max-w-11/12 flex-col justify-between gap-5">
                            <h2 class="w-fit rounded-2xl bg-black px-3 py-2 shadow-2xl shadow-green-500">
                                Tecnologías
                            </h2>
                            <SectionIconTecnologias tecnologias={tecnologias} />
                        </div>
                    </div>
                </a>
            ))
        }
    </section>
</div>

<style>
    .float-card {
        perspective: 1200px;
    }

    .float-inner {
        transform-style: preserve-3d;
        transition: transform 0.2s ease;
    }

    .card-image {
        transform: translateZ(40px);
    }

    .card-title {
        transform: translateZ(60px);
    }

    .card-desc {
        transform: translateZ(50px);
    }

    .card-footer {
        transform: translateZ(70px);
    }
</style>
<script>
    import gsap from "gsap";

    const cards = document.querySelectorAll(".float-card") as NodeListOf<HTMLElement>;

    cards.forEach((card) => {
        const inner = card.querySelector(".float-inner") as HTMLElement;

        card.addEventListener("mousemove", (e) => {
            const rect = card.getBoundingClientRect();

            const x = e.clientX - rect.left - rect.width / 2;
            const y = e.clientY - rect.top - rect.height / 2;

            gsap.to(inner, {
                rotateY: x / 15,
                rotateX: -y / 15,
                duration: 0.4,
                ease: "power3.out",
            });

            gsap.to(inner.children, {
                x: x / 25,
                y: y / 25,
                stagger: 0.03,
                duration: 0.4,
                ease: "power3.out",
            });
        });

        card.addEventListener("mouseleave", () => {
            gsap.to(inner, {
                rotateX: 0,
                rotateY: 0,
                duration: 0.6,
                ease: "power3.out",
            });

            gsap.to(inner.children, {
                x: 0,
                y: 0,
                duration: 0.6,
                ease: "power3.out",
            });
        });
    });
</script>
