---
import SectionIconTecnologias from "./SectionIconTecnologias.astro";
import TitleSection from "./TitleSection.astro";
import IMAGEN1 from "../assets/ip-geo.png";
import IMAGEN2 from "../assets/clima.png";
import IMAGEN3 from "../assets/http-status.png";
import IMAGEN4 from "../assets/api-rest.png";

interface Proyecto {
    title: string;
    description: string;
    image: any;
    tecnologias: string[];
    link: string;
}
const PROYECTOS = [
    {
        title: "Geolocalización de una IP",
        description:
            "Este proyecto consiste en la creación de una aplicación web que permite obtener la geolocalización de una IP",
        image: IMAGEN1,
        tecnologias: ["React", "CSS", "HTML", "Tailwind", "TypeScript"],
        link: "/proyectos/Geolocalizaciond-de-una-ip",
    },
    {
        title: "Aplicación del clima",
        description:
            "Este proyecto consiste en la creación de una aplicación web que permite obtener el clima  de una ciudad por dias",
        image: IMAGEN2,
        tecnologias: ["React", "CSS", "HTML", "Tailwind", "TypeScript"],
        link: "/proyectos/Aplicacion-del-clima",
    },
    {
        title: "Blog de los status HTTP",
        description: "Este proyecto consiste en mostrar informacion sobre los status HTTP desde los 100 hasta 599",
        image: IMAGEN3,
        tecnologias: ["Astro", "HTML", "CSS", "Tailwind", "TypeScript"],
        link: "/proyectos/http-codes-status",
    },
    {
        title: "Una API REST para proyectos",
        description:
            "Servicio backend encargado de registrar y exponer los endpoints de mis proyectos para su consumo desde distintas aplicaciones.",
        image: IMAGEN4,
        tecnologias: ["Node", "Express", "TypeScript"],
        link: "/proyectos/http-codes-status",
    },
];
---

<section class="5 mt-40 mb-20 flex min-h-screen flex-col items-center justify-start" id="proyectos">
    <h2 class="text-5xl font-bold text-white">Mis proyectos</h2>
    <section class="mt-10 flex flex-col flex-wrap items-center justify-center gap-10 gap-y-10 md:flex-row">
        {
            PROYECTOS.map(({ title, description, image, tecnologias, link }: Proyecto) => (
                <a href={link} class="float-card h-[530px] w-[370px]">
                    <div class="float-inner flex h-full w-full flex-col gap-3 rounded-[20px] border border-green-500 bg-linear-to-b from-black from-70% to-green-500 p-4 text-white">
                        <img
                            src={image.src}
                            alt="forest"
                            class="card-image mx-auto mt-6 h-[300px] w-full max-w-11/12 rounded-[14px] bg-black object-contain"
                        />

                        <h3 class="card-title mx-auto w-full max-w-11/12 text-start text-xl font-bold">{title}</h3>

                        <p class="card-desc mx-auto max-w-11/12 text-sm opacity-75">{description}</p>

                        <div class="card-footer mx-auto mt-auto mb-6 flex w-full max-w-11/12 flex-col justify-between gap-5">
                            <h2 class="w-fit rounded-2xl border border-green-500 bg-black px-3 py-2 text-sm font-bold shadow-2xl shadow-green-500">
                                Tecnologías
                            </h2>
                            <SectionIconTecnologias tecnologias={tecnologias} />
                        </div>
                    </div>
                </a>
            ))
        }
    </section>
</section>

<style>
    h2 {
        text-shadow:
            2px 2px 10px rgba(15, 17, 15, 0.966),
            2px 5px 2px rgba(1, 255, 22, 0.966),
            2px 5px 2px rgb(30, 255, 0);
    }
    .float-card {
        perspective: 1200px;
    }

    .float-inner {
        transform-style: preserve-3d;
        transition: all 0.2s ease;
    }

    .float-inner:hover {
        box-shadow: 0 10px 25px rgb(26, 241, 6);
    }

    .float-inner:hover img {
        filter: drop-shadow(0px 0px 5px rgb(26, 241, 6));
    }

    .card-image {
        transform: translateZ(40px);
    }

    .card-title {
        transform: translateZ(60px);
    }

    .card-desc {
        transform: translateZ(50px);
    }

    .card-footer {
        transform: translateZ(70px);
    }
</style>
<script>
    import gsap from "gsap";

    const cards = document.querySelectorAll(".float-card") as NodeListOf<HTMLElement>;

    gsap.to("h2", {
        scrollTrigger: {
            trigger: "h2",
            start: "top 100%",
            toggleActions: "play reverse play reverse",
        },
        opacity: 0,
        y: 100,
        duration: 1,
        ease: "expo.out",
    });

    cards.forEach((card) => {
        const inner = card.querySelector(".float-inner") as HTMLElement;

        card.addEventListener("mousemove", (e) => {
            const rect = card.getBoundingClientRect();

            const x = e.clientX - rect.left - rect.width / 2;
            const y = e.clientY - rect.top - rect.height / 2;

            gsap.to(inner, {
                rotateY: x / 15,
                rotateX: -y / 15,
                duration: 0.4,
                ease: "power3.out",
            });

            gsap.to(inner.children, {
                x: x / 25,
                y: y / 25,
                stagger: 0.03,
                duration: 0.4,
                ease: "power3.out",
            });
        });

        card.addEventListener("mouseleave", () => {
            gsap.to(inner, {
                rotateX: 0,
                rotateY: 0,
                duration: 0.6,
                ease: "power3.out",
            });

            gsap.to(inner.children, {
                x: 0,
                y: 0,
                duration: 0.6,
                ease: "power3.out",
            });
        });
    });
</script>
